* {
  border: 0;
  padding: 0;
  margin: 0;
}

.styled-input {
  display: flex;
  flex-direction: column;
}

.styled-input label {
  padding: 5px;
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #888888;
}

.styled-input div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.styled-input input {
  flex: 1;
  font-size: 14px;
  padding: 5px;
  outline: 0;
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
}

.styled-input span {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
}

.styled-input div:last-child {
  background: black;
  height: 2px;
}